.input__loader{
    .row{
        @include flex(space-between, center, wrap);

        h4{
            width: 100%;
            display: block;
            color: $secondary;
            text-align: center;
            padding-bottom: 1rem;
            font-size: 1.2rem;
        }

        .col{
            width: 45%;
            padding: 0.5rem 0;

            input{
                width: 95% ;
                padding: 0.5rem 0.5rem;
                background: $bg-input;
                border: 0;

                &:focus{
                    outline: 2px solid $secondary;
                }
            }
        }
    }
}

