nav{
    padding: 1rem 0 !important;
    background: $bg-light;
    box-shadow: $box-shadow;

    .row{
        @include flex(space-between, center, nowrap);

        .logo{
            z-index: 12;
            h2{
                color: $primary;
                font-size: 2rem;
                span{
                    color: $secondary;
                }
            }
        }
        .menu__list{
            ul{
                li{
                    display: inline-block;
                    padding: 0 1rem;
                    @include transition;
                    a{
                        color: #191a20;
                        font-weight: 500;
                    }

                    .active{
                        color: $secondary;
                        position: relative;
                        &::after{
                            content: '';
                            width: 50%;
                            height: 2px;
                            background: $bg-secondary;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                        }
                    }

                    :hover{
                        color: $secondary;
                    }
                }
            }
        }

        .button{
            :first-child{
                color: #191a20;
                font-weight: 500;
            }
        }

        .menu__trigger{
            display: none;
        }
    }
}

@media only screen and (max-width:768px){
    nav{
        padding: 0rem 0 !important;
        .row{

            .logo{
                h2{
                    line-height: 1rem;
                }
            }
            .menu__list{
                @include transition;
                
                .show{
                    z-index: 11;
                    width: 100%;
                    height: 100vh;
                    position: absolute;
                    top: 0;
                    right: 0%;
                    background: $bg-white;
                    box-shadow: $box-shadow;
                    padding-top: 5rem;
                    @include transition;
                        li{
                            display: block;
                            padding: 1rem 1rem;
                        }
                    }
                    .hide{
                    @include transition;
                    width: 50%;
                    height: 100vh;
                    position: absolute;
                    top: -100vh;
                    right: 0%;
                    background: $bg-white;
                    box-shadow: $box-shadow;
                    padding-top: 5rem;
                    li{
                        display: block;
                        padding: 1rem 1rem;
                    }
                }
            }
            .button{
                display: none;
            }
            .menu__trigger{
                display: block;
                font-size: 2rem;
                padding-top: 10px;
                cursor: pointer;
                color: $text-dark;
                z-index: 12;
            }

        }
    }
}

@media only screen and (max-width:400px){
    nav{
        padding: 0 !important;
        .row{
            .logo{
                h2{
                    font-size: 1.3rem !important;
                }
            }
            .menu__list{
                .show{
                    width: 100%;
                    height: 100vh;
                    text-align: center;
                }
                .hide{
                    width: 100%;
                    height: 100vh;
                    text-align: center;
                }
            }
        }
    }
    
}