@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap'); 

$primary: #03a4ed;
$secondary: #fe3f40;
$text-dark: #2a2a2a;
$text-black: #000000;
$text-white: #ffffff;
$text-light: #fafafa;

$bg-primary: #03a4ed;
$bg-secondary: #fe3f40;
$bg-light: #fafafa;
$bg-white: #ffffff;
$bg-input: #D1F3FF;

$box-shadow: 0px 0px 10px rgba(0,0,0,0.15)!important;

$font-poppins: 'Poppins', sans-serif;