
.temp2-container{
    font: 1em sans-serif;
    border: 2px solid black;
    width: 70%;
   margin: 30px auto;
   


.temp2-info{
    margin: 20px 0;
    padding: 0 30px;
}
.temp2-post{
    margin: 10px 0;
    line-height: 20px;
    color: rgb(55, 68, 87);
    font-size: 1.3rem;
}
.temp2-contact-contain{
    display: flex;
    background-color: rgb(55, 68, 87);
    color: white;
    padding: 13px 0;
  justify-content: center;
}

.temp2-contact-contain p{
    padding: 0 30px;

}
.temp2-skill-new{
    margin: 10px 0;
    padding: 0 30px;
}
.temp-2-All-skill{

  display: flex;
    
}
.temp-2-All-skill p{
    padding: 10px 30px;
}
.temp2-work-exp, .temp2-education{
margin: 40px 0;
    padding: 0 30px;
    
}
}